$primary-accent-color: #b57614;   //#076678;
$secondary-accent-color: #da96f3; //#0a8fa8;
$light-color: #ebdbb2;            //#fbf1c7;//white;
$dark-color: black;
$bar-selection: #83a598;
$bar-text: #fe8019;
