$primary-accent-color: #b57614; //#076678;
$secondary-accent-color: #da96f3; //#0a8fa8;
$light-color: #ebdbb2;//#fbf1c7;//white;
$dark-color: black;

.image_intro {
    width: 100%;
    height: 200px;
    margin: 10px;
}

