@import 'variables';

@font-face {
	font-family: "FantasqueRegular";
	src: local("Fantasque Sans Mono Regular Nerd Font Complete.ttf"), url('/fonts/Fantasque Sans Mono Regular Nerd Font Complete.ttf');
}

@font-face {
	font-family: "FantasqueBold";
	src: local("Fantasque Sans Mono Bold Nerd Font Complete.ttf"),
    url('/fonts/Fantasque Sans Mono Bold Nerd Font Complete.ttf');
}

@font-face {
	font-family: "FantasqueItalic";
	src: local("Fantasque Sans Mono Italic Nerd Font Complete.ttf"),
    url('/fonts/Fantasque Sans Mono Italic Nerd Font Complete.ttf');
}

html{
    font-family:'FantasqueRegular', "Gill Sans Extrabold", sans-serif;
}

body {
    font-size: calc(0.8em + 0.22vw);
    word-spacing: -0.2em;
}

figure {
    margin: 0;
}

.image-board img {
    border-radius: 25px;
    border: 2px solid #9d0006;
}

.image-left img {
    display: block;
    margin-right: 12px;
    float: left;
}

.image-right img {
    display: block;
    margin-left: 12px;
    float: right;
}

.post-title {
    font-family:'FantasqueBold', sans-serif;
    word-spacing: -0.2em;
}

.intro-quote {
    font-family:'FantasqueItalic', sans-serif;
    word-spacing: -0.2em;
}

.well h3{
    font-family:'FantasqueBold', sans-serif;
    word-spacing: -0.2em;
}

.logo-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 10px;
}

.custom-nav {
    font-family:'FantasqueBold', sans-serif;
    margin: 20px auto;
    padding: 8px;
    background: $primary-accent-color;
    width: 100%;
    border-radius: 10px;
    a {
        background: $primary-accent-color;
        color: $dark-color;
        text-decoration: none;
        margin: 10px;
    }
    a:hover {
        background: #fff;
        padding: 10px;
        color: $primary-accent-color;
        text-decoration: none;
        border: 2px solid $primary-accent-color;
    }
}


/* Dealing with the Powerline */
.bar {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
    font-family:'FantasqueBold', sans-serif;
    color: $dark-color;
    display: flex;
    a {
        text-decoration: none;
    }
    a:hover {
        color: #fff;
        text-decoration: none;
    }
}

.bar_item {
    background-color: $primary-accent-color;
    margin-right: -14px;
    margin-left: -14px;
    padding: 3px 1.25rem;
    justify-content: left;
    position: relative;
    cursor: pointer;
    width: 100%;
    clip-path: polygon(0 0%, 100% 0%, calc(100% - 14px) 50%, 100% 100%, 0 100%, 14px 50%);
}

.bar_left {
    background-color: $primary-accent-color;
    margin-right: -14px;
    padding: 3px 1.25rem;
    justify-content: left;
    position: relative;
    cursor: pointer;
    clip-path: polygon(14px 0%, 100% 0%, calc(100% - 14px) 50%, 100% 100%, 0% 100%, 14px 100%, 0% 50%);

    a:hover {
        color: $bar-selection;
        cursor: pointer;
    }
}

.bar_right {
    background-color: $primary-accent-color;
    margin-right: 0px;
    padding: 3px 1.25rem;
    justify-content: left;
    position: relative;
    cursor: pointer;
    clip-path: polygon(0% 0%, calc(100% - 14px) 0%, 100% 50%, calc(100% - 14px) 100%, 100% 100%, 0% 100%, 14px 50%);

    a:hover {
        color: $bar-selection;
        cursor: pointer;
    }
}

.bar_start {
    margin-right: -14px;
    padding: 3px 1.25rem;
    justify-content: left;
    position: relative;
    cursor: pointer;
    background-color: $primary-accent-color;
    clip-path: polygon(0% 0%, calc(100% - 14px) 0%, 100% 50%, calc(100% - 14px) 100%, 100% 100%, 0% 100%, 0 50%);

    a:hover {
        color: $bar-selection;
        cursor: pointer;
    }
}

.bar_start_home {
    margin-right: -14px;
    padding: 3px 1.25rem;
    justify-content: right;
    position: relative;
    cursor: pointer;
    background-color: $primary-accent-color;
    clip-path: polygon(0% 0%, calc(100% - 14px) 0%, 100% 50%, calc(100% - 14px) 100%, 100% 100%, 0% 100%, 0 50%);

    a:hover {
        cursor: hand;
    }
}

.bar_stop {
    background-color: $primary-accent-color;
    margin-right: 0px;
    padding: 3px 1.25rem;
    justify-content: left;
    position: relative;
    cursor: pointer;
    clip-path: polygon(14px 0%, 100% 0%, 100% 100%, 0% 100%, 14px 100%, 0% 50%);

    a:hover {
        color: $bar-text;
        cursor: pointer;
    }
}

/* Background */
.b-currentline{background-color: #504945;}
.b-foreground{background-color: #fbf1c7;}
.b-comment{background-color: #928374;}
.b-cyan{background-color: #458588;}
.b-green{background-color: #98971a;}
.b-orange{background-color: #d65d0e;}
.b-pink{background-color: #d3869b;}
.b-purple{background-color: #b16286;}
.b-red{background-color: #cc241d;}
.b-yellow{background-color: #d79921;}

/* Foreground */
.b-text-light{color: $light-color;}
.b-text-dark{color: $dark-color;}

