<div class="bar">
  <span class="bar_start_home b-yellow">
    <a href="{{.Site.BaseURL}}"></a>
  </span>
  {{- $currentPage := . -}}
  {{ range .Site.Menus.main -}}
  <span class="{{.Pre}} {{.Post}}">
    <a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
  </span>
  {{- end }}
  <span id="dclock" class="bar_stop b-cyan">00:00</span>
  <script>
  function currentTime(){let date=new Date();let hh=date.getHours();let mm=date.getMinutes();let ss=date.getSeconds();hh=(hh<10)?"0"+hh:hh;mm=(mm<10)?"0"+mm:mm;ss=(ss<10)?"0"+ss:ss;let time=hh+":"+mm+":"+ss;document.getElementById("dclock").innerText=time;var t=setTimeout(function(){currentTime()},1000)}currentTime();
  </script>
</div>
