{{define "main"}}
<div id="logoid" class="intro">
  <div style="align-items: center">
    {{if .Site.Params.main.enabled }}
    <img
      id="rdmimg"
      class="logo-image"
      src="{{ .Site.Params.main.img | absURL }}"
      title="{{ .Site.Params.main.img_title }}"
      width="200px"
      alt="Author's picture or avatar or logo"
    />
    <ul>
      <li class="intro-quote">{{ .Site.Params.main.quote }}</li>
    </ul>
    {{ end }}
  </div>
  <p>Hi folks,</p>
  <p>.. welcome to asterix.cloud ..</p>
  <p>
    This is my site, where you could see my projects and sometimes you can read
    short fantasy stories that come to mind..
  </p>
  <hr />
  <h3 id="isokey-keyboard">Isokey Keyboard</h3>
  <p>
    <figure class="image-board image-center">
      <img src="/images/isokey21.png" width="80%" />
    </figure>
    <div>
    Fully isometric keyboard, with num pad and some extra key, <a href="/isokey" title="isokey">give a look</a>!
    </div>
  </p>
  <hr />
  <h3 id="random-stories">Random Stories</h3>
  <p>
    Stories and much more. Fantasy, technical posts on any arguments..
    <a href="/posts" title="random">go there</a>
  </p>
</div>

{{ end }}
